body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.maps-container {
    height: 100vh;
    overflow: hidden;
}

.full-screen-height-div {
    height: 100vh;
}